/* You can add global styles to this file, and also import other style files */
.thead-dark-figma {
  background: #333a40;
  color: white;
}
.indie-flower-font {
  font-family: "Indie Flower", cursive;
}
